@-moz-viewport {
  width: device-width;
  scale: 1; }

@-ms-viewport {
  width: device-width;
  scale: 1; }

@-o-viewport {
  width: device-width;
  scale: 1; }

@-webkit-viewport {
  width: device-width;
  scale: 1; }

@viewport {
  width: device-width;
  scale: 1; }

/* line 7, /Users/agranieri/Documents/School/Graphic Design/Year 3/Year 3 Semester 2/Web Development V/exercises/exercise-4-code-pen/scss/components/main */
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

/* line 15, /Users/agranieri/Documents/School/Graphic Design/Year 3/Year 3 Semester 2/Web Development V/exercises/exercise-4-code-pen/scss/components/main */
*, :before, :after {
  box-sizing: border-box; }

/* line 20, /Users/agranieri/Documents/School/Graphic Design/Year 3/Year 3 Semester 2/Web Development V/exercises/exercise-4-code-pen/scss/components/main */
.unstyled {
  list-style: none;
  padding: 0;
  margin: 0; }
  /* line 21, /Users/agranieri/Documents/School/Graphic Design/Year 3/Year 3 Semester 2/Web Development V/exercises/exercise-4-code-pen/scss/components/main */
  .unstyled a {
    text-decoration: none; }

/* line 23, /Users/agranieri/Documents/School/Graphic Design/Year 3/Year 3 Semester 2/Web Development V/exercises/exercise-4-code-pen/scss/components/main */
.list-inline {
  overflow: hidden; }
  /* line 24, /Users/agranieri/Documents/School/Graphic Design/Year 3/Year 3 Semester 2/Web Development V/exercises/exercise-4-code-pen/scss/components/main */
  .list-inline li {
    float: left; }

/* line 28, /Users/agranieri/Documents/School/Graphic Design/Year 3/Year 3 Semester 2/Web Development V/exercises/exercise-4-code-pen/scss/components/main */
.header {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 17.5em;
  background: #009999; }

/* line 35, /Users/agranieri/Documents/School/Graphic Design/Year 3/Year 3 Semester 2/Web Development V/exercises/exercise-4-code-pen/scss/components/main */
.logo {
  text-transform: lowercase;
  font: 300 2em "Droid Serif", serif;
  text-align: center;
  padding: 0;
  margin: 0; }
  /* line 41, /Users/agranieri/Documents/School/Graphic Design/Year 3/Year 3 Semester 2/Web Development V/exercises/exercise-4-code-pen/scss/components/main */
  .logo a {
    display: block;
    padding: 1em 0;
    color: #000000;
    text-decoration: none;
    transition: 0.15s linear color; }
    /* line 48, /Users/agranieri/Documents/School/Graphic Design/Year 3/Year 3 Semester 2/Web Development V/exercises/exercise-4-code-pen/scss/components/main */
    .logo a:hover {
      color: #fff; }
      /* line 50, /Users/agranieri/Documents/School/Graphic Design/Year 3/Year 3 Semester 2/Web Development V/exercises/exercise-4-code-pen/scss/components/main */
      .logo a:hover span {
        color: #FFCC66; }
  /* line 54, /Users/agranieri/Documents/School/Graphic Design/Year 3/Year 3 Semester 2/Web Development V/exercises/exercise-4-code-pen/scss/components/main */
  .logo span {
    font-weight: 700;
    transition: 0.15s linear color; }

/* line 63, /Users/agranieri/Documents/School/Graphic Design/Year 3/Year 3 Semester 2/Web Development V/exercises/exercise-4-code-pen/scss/components/main */
.main-nav ul {
  border-top: solid 1px #33ADAD; }
/* line 67, /Users/agranieri/Documents/School/Graphic Design/Year 3/Year 3 Semester 2/Web Development V/exercises/exercise-4-code-pen/scss/components/main */
.main-nav li {
  border-bottom: solid 1px #33ADAD; }
/* line 71, /Users/agranieri/Documents/School/Graphic Design/Year 3/Year 3 Semester 2/Web Development V/exercises/exercise-4-code-pen/scss/components/main */
.main-nav a {
  padding: 1.1em 0;
  color: #E6E6E6;
  font: 400 1.125em "Droid Serif", serif;
  text-align: center;
  text-transform: lowercase; }
  /* line 80, /Users/agranieri/Documents/School/Graphic Design/Year 3/Year 3 Semester 2/Web Development V/exercises/exercise-4-code-pen/scss/components/main */
  .main-nav a:hover {
    color: #ffffff; }

/* line 87, /Users/agranieri/Documents/School/Graphic Design/Year 3/Year 3 Semester 2/Web Development V/exercises/exercise-4-code-pen/scss/components/main */
.social-links {
  border-bottom: solid 1px #33ADAD; }
  /* line 90, /Users/agranieri/Documents/School/Graphic Design/Year 3/Year 3 Semester 2/Web Development V/exercises/exercise-4-code-pen/scss/components/main */
  .social-links li {
    width: 25%;
    border-left: solid 1px #33ADAD; }
    /* line 93, /Users/agranieri/Documents/School/Graphic Design/Year 3/Year 3 Semester 2/Web Development V/exercises/exercise-4-code-pen/scss/components/main */
    .social-links li:first-child {
      border: none; }
  /* line 96, /Users/agranieri/Documents/School/Graphic Design/Year 3/Year 3 Semester 2/Web Development V/exercises/exercise-4-code-pen/scss/components/main */
  .social-links a {
    display: block;
    height: 5.5em;
    text-align: center;
    color: #33ADAD;
    font: 0.75em/5.5em "Droid Serif", serif; }
    /* line 102, /Users/agranieri/Documents/School/Graphic Design/Year 3/Year 3 Semester 2/Web Development V/exercises/exercise-4-code-pen/scss/components/main */
    .social-links a:hover {
      color: #ffffff; }

/* line 111, /Users/agranieri/Documents/School/Graphic Design/Year 3/Year 3 Semester 2/Web Development V/exercises/exercise-4-code-pen/scss/components/main */
.list-hover-slide li {
  position: relative;
  overflow: hidden; }
/* line 116, /Users/agranieri/Documents/School/Graphic Design/Year 3/Year 3 Semester 2/Web Development V/exercises/exercise-4-code-pen/scss/components/main */
.list-hover-slide a {
  display: block;
  position: relative;
  z-index: 1;
  transition: 0.35s ease color; }
  /* line 122, /Users/agranieri/Documents/School/Graphic Design/Year 3/Year 3 Semester 2/Web Development V/exercises/exercise-4-code-pen/scss/components/main */
  .list-hover-slide a:before {
    content: '';
    display: block;
    z-index: -1;
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    border-right: solid 5px #FFCC66;
    background: #33ADAD;
    transition: 0.35s ease left; }
  /* line 137, /Users/agranieri/Documents/School/Graphic Design/Year 3/Year 3 Semester 2/Web Development V/exercises/exercise-4-code-pen/scss/components/main */
  .list-hover-slide a.is-current:before, .list-hover-slide a:hover:before {
    left: 0; }
