// Variables

$background: #FFFAF0;
$primary: #009999;
$secondary: #33ADAD;
$white: #ffffff;
$accent: #FFCC66;

$text-family: "Droid Serif", serif;
$text-color: #E6E6E6;
$text-alt: 'Roboto', sans-serif;

